SELF_SERVICE_METHODS_OIDC_PROVIDERS=[{"id":"google","provider":"google","client_id":"...","client_secret":"...","mapper_url":"file:///etc/config/kratos/oidc.google.jsonnet","scope":["email","profile"],"requested_claims":{"id_token":{"email":{"essential":true},"email_verified":{"essential":true}}}}]
SECRETS_COOKIE=AHDuadISDIKclogptporwkISAI
DNS=postgres://kratos:secret@postgresd:5432/kratos?sslmode=disable&max_conns=20&max_idle_conns=4